NEXT_PUBLIC_SITE_URL=https://hanazmodelling.com
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/hanaz_modelling/
NEXT_PUBLIC_WHATSAPP_NUMBER=
NEXT_PUBLIC_WHATSAPP_MESSAGE=Hello Hanaz Modelling, I would like to know more.
NEXT_PUBLIC_CONTACT_EMAIL=
NEXT_PUBLIC_APPLICATION_FORM_URL=
NEXT_PUBLIC_COLLABORATION_FORM_URL=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GTM_ID=
